:root {
  --primary: rgb(175 209 140);
  --surface-tint: rgb(175 209 140);
  --on-primary: rgb(29 55 3);
  --primary-container: rgb(50 78 24);
  --primary-container-translucent: rgba(50, 78, 24, 0.85);
  --on-primary-container: rgb(202 238 166);
  --secondary: rgb(185 207 131);
  --on-secondary: rgb(38 53 0);
  --secondary-container: rgb(59 77 15);
  --on-secondary-container: rgb(212 236 157);
  --tertiary: rgb(184 207 132);
  --on-tertiary: rgb(38 53 0);
  --tertiary-container: rgb(59 77 15);
  --on-tertiary-container: rgb(212 236 157);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(17 20 14);
  --on-background: rgb(226 227 217);
  --surface: rgb(19 20 13);
  --on-surface: rgb(228 227 215);
  --surface-variant: rgb(70 72 60);
  --on-surface-variant: rgb(199 200 184);
  --outline: rgb(145 146 131);
  --outline-variant: rgb(70 72 60);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(228 227 215);
  --inverse-on-surface: rgb(48 49 41);
  --inverse-primary: rgb(73 103 46);
  --primary-fixed: rgb(202 238 166);
  --on-primary-fixed: rgb(13 32 0);
  --primary-fixed-dim: rgb(175 209 140);
  --on-primary-fixed-variant: rgb(50 78 24);
  --secondary-fixed: rgb(212 236 157);
  --on-secondary-fixed: rgb(21 31 0);
  --secondary-fixed-dim: rgb(185 207 131);
  --on-secondary-fixed-variant: rgb(59 77 15);
  --tertiary-fixed: rgb(212 236 157);
  --on-tertiary-fixed: rgb(21 31 0);
  --tertiary-fixed-dim: rgb(184 207 132);
  --on-tertiary-fixed-variant: rgb(59 77 15);
  --surface-dim: rgb(19 20 13);
  --surface-bright: rgb(57 58 49);
  --surface-container-lowest: rgb(14 15 8);
  --surface-container-low: rgb(27 28 21);
  --surface-container: rgb(31 32 25);
  --surface-container-high: rgb(41 43 35);
  --surface-container-highest: rgb(52 53 45);
  --blue: rgb(159 202 252);
  --blue-on: rgb(0 50 87);
  --blue-container: rgb(23 73 116);
  --blue-on-container: rgb(209 228 255);
  --teal: rgb(130 213 201);
  --teal-on: rgb(0 55 50);
  --teal-container: rgb(0 80 72);
  --teal-on-container: rgb(158 242 229);
  --green: rgb(171 210 143);
  --green-on: rgb(25 55 5);
  --green-container: rgb(47 79 27);
  --green-on-container: rgb(199 238 169);
  --sage: rgb(183 208 133);
  --sage-on: rgb(37 54 0);
  --sage-container: rgb(58 77 16);
  --sage-on-container: rgb(211 236 158);
  --yellow: rgb(221 198 110);
  --yellow-on: rgb(58 48 0);
  --yellow-container: rgb(84 70 0);
  --yellow-on-container: rgb(250 226 135);
  --brown: rgb(250 186 114);
  --brown-on: rgb(72 41 0);
  --brown-container: rgb(103 61 0);
  --brown-on-container: rgb(255 221 186);
  --orange: rgb(255 182 142);
  --orange-on: rgb(83 34 0);
  --orange-container: rgb(111 56 19);
  --orange-on-container: rgb(255 219 201);
  --peach: rgb(255 180 172);
  --peach-on: rgb(86 30 26);
  --peach-container: rgb(115 51 46);
  --peach-on-container: rgb(255 218 214);
  --red: rgb(255 180 172);
  --red-on: rgb(86 30 26);
  --red-container: rgb(115 51 46);
  --red-on-container: rgb(255 218 214);
  --purple: rgb(231 182 240);
  --purple-on: rgb(70 33 81);
  --purple-container: rgb(95 56 105);
  --purple-on-container: rgb(251 215 255);
  --violet: rgb(190 194 255);
  --violet-on: rgb(39 43 96);
  --violet-container: rgb(61 66 120);
  --violet-on-container: rgb(224 224 255);
  --black: rgb(130 211 224);
  --black-on: rgb(0 54 61);
  --black-container: rgb(0 79 88);
  --black-on-container: rgb(158 239 253);
  --grey: rgb(130 211 224);
  --grey-on: rgb(0 54 61);
  --grey-container: rgb(0 79 88);
  --grey-on-container: rgb(158 239 253);
}
