.footer {
    padding: 2vh 2vw;
    background-color: var(--surface-container);
    border-radius: 20px 20px 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer .links {
    height: 50%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer .links .link {
    background-color: var(--surface-container-highest);
    border-radius: 20px;
    padding: 1vh 1.5vw;
    color: var(--on-secondary-container);
    font-family: "Arial";
    font-size: larger;
    text-decoration: none;
    transition: all 0.5s ease;
}

.footer .links .link:hover {
    background-color: var(--primary);
    color: var(--on-primary)
}

.footer .details {
    color: var(--on-surface);
    font-family: "Arial";
}